// Fonts 
$basicFontFamily: 'ralewayregular', sans-serif;
$basicBodyBg: #f8f8f8;
$basicTextColor: #76797e;

// Basic Colors
$basicBlue: #1585ff;
$basicRed: #ff7473;
$basicGreen: #0ac51b;

// Aside
$asideBg: #fff;
$asideWidth: 290px;

// Header
$headerBg: #fff;

// Small chart
$basicSmallChartBg: #979fad;